<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <system.web>
        <authorization>
            <allow users="?"/>
        </authorization>
    </system.web>

    <system.webServer>
        <staticContent>
            <remove fileExtension=".html"/>
            <remove fileExtension=".json"/>
            <remove fileExtension=".less"/>
            <remove fileExtension=".woff"/>

            <mimeMap fileExtension=".html" mimeType="text/html"/>
            <mimeMap fileExtension=".json" mimeType="application/json"/>
            <mimeMap fileExtension=".less" mimeType="text/css"/>
            <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
        </staticContent>

        <defaultDocument>
            <files>
                <clear/>
                <add value="index.html"/>
            </files>
        </defaultDocument>

        <httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="SAMEORIGIN"/>
                <add name="X-Content-Type-Options" value="nosniff"/>
                <add name="X-XSS-Protection" value="1"/>
            </customHeaders>
        </httpProtocol>

    </system.webServer>
</configuration>
